<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="emailFormControl">
    <mat-error *ngIf="hasError('emailFormControl','email') && !hasError('emailFormControl','required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="hasError('emailFormControl','required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="passwordFormControl">
    <mat-error *ngIf="hasError('passwordFormControl','required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error
      *ngIf="hasError('passwordFormControl','doNotUseThisValidator') && !hasError('passwordFormControl','required')">
      Please enter <strong>admin123</strong> for continue login ))) *it's used for frontend validation
    </mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" [disabled]="loginForm.invalid" (click)="onLoginClick()">login</button>
</div>
