.form-page-container {
  width: 100%;

  form {
    width: 80%;
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin: 10px 0;
    }

    .mat-flat-button {
      margin-top: 30px;
    }
  }
}
